extends layout
block pageTitle
    .jumbotron
        h1 Hotlab Connect
        h2 Hotlab Connect is the gateway to access Hotlab peripherals. Currently Atomlab 100 Dose calibrators and Barcode Scanners are supported..
